[user]
    email = ***@***.com
    name = Carl Masri

[push]
    default = current

[core]
    editor = vim
    ignorecase = false
	  longpaths = true
	  autocrlf = false

[alias]
    la = !git config -l | grep alias | cut -c 7-
    co = checkout
    br = branch
    bd = branch -d
    ci = commit
    can = commit --amend --no-edit
    pf = push --force-with-lease
    st = status
    di = diff
    ds = diff --staged
    ls = log --pretty=oneline --abbrev-commit --decorate -n 15
    ss = stash save
    sl = stash list
    sp = stash pop
    sd = stash drop
    rpo = remote prune origin
    td = !sh -c 'git tag --delete $1 && git push origin :refs/tags/$1' -
    adog = log --all --decorate --oneline --graph
    wip = !git add . && git commit -m "wip" --no-verify
    gbpurge = !git branch --merged | grep -vE '\\*|master|main' | xargs -n 1 git branch -d

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[pull]
    ff = only

[init]
    defaultBranch = main
